<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <form  action="/users/new"method="post" modelAttribute="user">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput" >Name</label>
                <input name="name" type="text" class="form-control mb-2" id="inlineFormInput"  placeholder="Name">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Age</label>
                <input name="age" type="number" class="form-control mb-2" id="inlineFormInput" placeholder="Age">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">email</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input name="email" type="email" class="form-control" id="inlineFormInputGroup" placeholder="Email">
                </div>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">birthday</label>
                <input name="birthday" type="date" class="form-control mb-2" id="inlineFormInput" placeholder="Birthday">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" >Create</button>
            </div>
        </div>
    </form>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Birthday</th>
                <th scope="col">Update user</th>
                <th scope="col">Delete user</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <th scope="row" th:text="${user.id}" ></th>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.birthday}"></td>
                <td>
                    <a th:href="@{|/users/${user.id}|}" >
                        <button   type="button" class="btn btn-primary">
                            Edit
                        </button>
                    </a>

                </td>
                <td >
                    <a  th:href="@{|/users/${user.id}/delete|}" >
                        <button  class="btn btn-danger">
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>